$primaryColor: #4a4a4a;
$secondaryColor: #a0b0b9;
$blueColor: #2196f3;
$backgroundColor: #f3f7fa;
$hoverColor: #f1fcff;
$borderColor: #dfe5ec;
$whiteColor: #fff;
$blackColor: #000;

$mobile-width: 768px;
$tablet-width: 1024px;

$mainFont: 'Open Sans', sans-serif;

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}
