$primaryColor: #4a4a4a;
$secondaryColor: #a0b0b9;
$blueColor: #2196f3;
$backgroundColor: #f3f7fa;
$hoverColor: #f1fcff;
$borderColor: #dfe5ec;
$whiteColor: #fff;
$blackColor: #000;

$mobile-width: 768px;
$tablet-width: 1024px;

$mainFont: 'Open Sans', sans-serif;

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding: 50px 0;
  margin: 0 auto;
}

.button {
  width: 100%;
  display: inline-block;
  padding: 15px 20px;
  background: $blueColor;
  color: $whiteColor;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;

  font-family: $mainFont;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  margin: 20px 0 0 0;

  &:hover {
    background: lighten($blueColor, 10);
  }
}
