.sidebar {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background: $whiteColor;
  border-radius: 5px;

  &__container {
  }

  &__title {
    padding: 20px 20px 0 20px;
    font-family: $mainFont;
    font-size: 12px;
    color: #4a4a4a;
    font-weight: 600;
    line-height: 12px; /* 100% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;

    font-family: $mainFont;
    color: $primaryColor;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

    &:hover {
      background: $hoverColor;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $blueColor;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 10px 0 0;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 10px;
      height: 10px;
      background: $blueColor;
      opacity: 0;
    }
  }

  &__checkbox:checked + &__checkmark::before {
    opacity: 1;
  }
}
